
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Security</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"  type="text/css"/>
    <link href="http://cdn.jsdelivr.net/webjars/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen" type="text/css"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="../static/js/statistics.js"
            th:src="@{/js/calculators.js}" type="text/javascript">
    </script>
</head>
<body id="home">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll ">
            <button type="button" class="navbar-toggle" data-toggle="collapse collapsed" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand">myGym</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#"></a>
                </li>
                <li class="page-scroll">
                    <a href="#" th:href="@{/user/index}"><i class="fa fa-home"></i>Home</a>
                </li>
                <li class="page-scroll">
                    <a href="#" th:href="@{/user/statistics}"><i class="fa fa-bar-chart"></i>Statistics</a>
                </li>
                <li class="page-scroll">
                    <a href="#" th:href="@{/user/calculators}"><i class="fa fa-calculator"></i>Calculators</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i class="fa fa-calculator margin-right-10"></i>Calculators</h1>
                <div class="row"></div>
                <div id="BMIcalculator" class="col-md-4">
                    <h3>BMI<i class="fa fa-info-circle BMIinfo"></i></h3>
                    <div id="BMImodalInfo" class="alert alert-info alert-dismissable modalInfo hidden">
                        <strong>BMI (Body Mass Index)</strong> is used as a screening tool to indicate whether a person is underweight, overweight, obese or a healthy weight for their height.
                        <p class="infoContent">
                            to <strong>16</strong>: starvation<br/>
                            from <strong>16 to 17</strong>: emaciation<br/>
                            from <strong>17 to 18.5</strong>: underweight<br/>
                            from <strong>18.5 to 25</strong>: correct<br/>
                            from <strong>25 to 30</strong>: overweight<br/>
                            from <strong>30 to 35</strong>: I level obesity<br/>
                            from <strong>35 to 40</strong>: II level obesity<br/>
                            above <strong>40</strong>: III level obesity
                        </p>
                    </div>
                    <label for="BMIbodyWeight">Weight [kg]:</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-scale"></span></span>
                        <input type="number"  min="10" max="300" class="form-control" id="BMIbodyWeight" value="60"></input>
                    </div>
                    <label for="BMIheight">Height [cm]:</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-long-arrow-up"></i></span>
                        <input type="number" min="80" max="300" class="form-control"  id="BMIheight" value="170"></input>
                    </div>
                    <button class="btn btn-default BMIbutton  margin-top-10"><i class="fa fa-exchange"></i>Check</button>
                    <div class="BMIresult calculatorResult"></div>
                </div>
                <div id="BMRcalculator" class="col-md-4">
                    <h3>BMR<i class="fa fa-info-circle BMRinfo"></i></h3>
                    <div id="BMRmodalInfo" class="alert alert-info alert-dismissable modalInfo hidden">
                        <strong>BMR (Basal metabolic rate)</strong> is the total number of calories that your body needs to perform basic, life-sustaining functions. These basal functions include circulation, breathing, cell production, nutrient processing, protein synthesis and ion transport.
                    </div>
                    <label for="BMRbodyWeight">Weight [kg]:</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-scale"></span></span>
                        <input type="number"  min="10" max="300" class="form-control" id="BMRbodyWeight" value="60"></input>
                    </div>

                    <label for="BMRheight">Height [cm]:</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-long-arrow-up"></i></span>
                        <input type="number" min="80" max="300" class="form-control"  id="BMRheight" value="170"></input>
                    </div>

                    <label for="BMRage">Age [years]:</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                        <input type="number" min="1" max="150" class="form-control"  id="BMRage" value="25"></input>
                    </div>


                    <label for="BMRactivity">Activity:</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-futbol-o"></i></span>
                        <select  class="form-control"  id="BMRactivity">
                            <option value="0">very low</option>
                            <option value="1">low</option>
                            <option value="2" selected="selected">middle</option>
                            <option value="3">high</option>
                            <option value="4">very high</option>
                        </select>
                    </div>

                    <label class="radio-inline"><input type="radio" name="BMRsex" class="BMRsex" value="male" checked="checked" /><i class="fa fa-mars margin-right-5"></i>Male</label>
                    <label class="radio-inline"><input type="radio" name="BMRsex" class="BMRsex" value="female"  /><i class="fa fa-venus margin-right-5"></i>Female</label>
                    <br/>
                    <button class="btn btn-default BMRbutton  margin-top-10"><i class="fa fa-exchange"></i>Check</button>
                    <div class="BMRresult calculatorResult"></div>
                </div>
                <div id="RMcalculator" class="col-md-4">
                    <h3>1RM<i class="fa fa-info-circle RMinfo"></i></h3>
                    <div id="RMmodalInfo" class="alert alert-info alert-dismissable modalInfo hidden">
                        <strong>1RM (One-repetition maximum)</strong> in weight training is the maximum amount of force that can be generated in one maximal contraction.
                        <p class="infoContent">
                             One repetition maximum can be used for determining an individual's maximum strength and is the method for determining the winner in events such as powerlifting and weightlifting competitions.
                             One repetition maximum can also be used as an upper limit, in order to determine the desired "load" for an exercise (as a percentage of the 1RM).
                        </p>
                    </div>
                    <label for="RMweight">Weight [kg]:</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-scale"></span></span>
                        <input type="number" min="1" max="500" class="form-control"  id="RMweight" value="50"></input>
                    </div>

                    <label for="RMrepeats">Repeats:</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-braille"></i></span>
                        <select  class="form-control"  id="RMrepeats">
                            <option val="1" selected="selected">1</option>
                            <option val="2">2</option>
                            <option val="3">3</option>
                            <option val="4">4</option>
                            <option val="5">5</option>
                            <option val="6">6</option>
                            <option val="7">7</option>
                            <option val="8">8</option>
                            <option val="9">9</option>
                            <option val="10">10</option>
                            <option val="11">11</option>
                            <option val="12">12</option>
                        </select>
                    </div>

                    <button class="btn btn-default RMbutton  margin-top-10"><i class="fa fa-exchange"></i>Check</button>
                    <div class="RMresult calculatorResult"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>19Lutego 8
                        <br/>Skierniewice,  PL 96-100</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>

                </div>
                <div class="footer-col col-md-4">
                    <h3>About Author</h3>
                    <p>Page created by Kamil Tartanus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Politechnika Warszawska
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>