
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Security</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"  type="text/css"/>
    <link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css"
          th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.css}" rel="stylesheet" ></link>
    <link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.print.css"
          th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.print.css}" rel="stylesheet" media="print"></link>
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen" type="text/css"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"
            th:src="@{/webjars/momentjs/2.9.0/min/moment.min.js}" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.min.js"
            th:src="@{/webjars/fullcalendar/2.2.5/fullcalendar.min.js}" type="text/javascript"></script>
    <script src="../static/js/callendar.css"
            th:src="@{/js/callendar.js}" type="text/javascript">
    </script>
</head>
<body id="home">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll ">
                <button type="button" class="navbar-toggle" data-toggle="collapse collapsed" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-brand">myGym</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Statistics</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Calculators</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive"  src="../static/images/welcome.png"
                         th:src="@{/images/welcome.png}" alt="" />
                    <div class="intro-text">
                        <span class="name">Welcome to the GYM ARMY</span>

                        <div id='calendar' th:id="calendar"></div>

                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>

                    </div>
                    <div class= ".hidden-sm-up visible-xs-block ">małe urządzenia</div>
                    <div class= ".hidden-xs-down visible-md-block">tablety i wieksze</div>
                </div>
            </div>
        </div>
    </header>
     <footer class="text-center">
         <div class="footer-above">
             <div class="container">
                 <div class="row">
                     <div class="footer-col col-md-4">
                         <h3>Location</h3>
                         <p>19Lutego 8
                             <br/>Skierniewice,  PL 96-100</p>
                     </div>
                     <div class="footer-col col-md-4">
                         <h3>Around the Web</h3>

                     </div>
                     <div class="footer-col col-md-4">
                         <h3>About Author</h3>
                         <p>Page created by Kamil Tartanus.</p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="footer-below">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         Copyright &copy; Politechnika Warszawska
                     </div>
                 </div>
             </div>
         </div>
     </footer>


    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <!--<h4 class="modal-title">Modal title</h4>-->
                <!--</div>-->
                <!--<form class="form-inline" action="#" th:action="@{/addTraining}" th:object="${trainingDTO}" method="post">-->
                    <!--<div class="modal-body">-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-xs-12" for="excercise">Excercise name :</label>-->
                            <!--<input type="text"  th:field="*{excercise}" class="form-control" id="excercise" />-->
                        <!--</div>-->
                        <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('excercise')}" th:errors="*{excercise}">Wrong Excercise name</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-xs-12" for="series">Series number :</label>-->
                            <!--<input type="number" th:field="*{series}" class="form-control col-xs-12" id="series" />-->
                        <!--</div>-->
                        <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('series')}" th:errors="*{series}">Wrong series number </div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-xs-12" for="repeats">Repeats number:</label>-->
                            <!--<input  type="number" th:field="*{repeats}" class="form-control col-xs-12" id="repeats" />-->
                        <!--</div>-->
                        <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('repeats')}" th:errors="*{repeats}">Wrong repeats number</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-xs-12" for="date">Date:</label>-->
                            <!--<input  type="date" th:type="date" th:field="*{date}" class="form-control col-xs-12" id="date" />-->
                        <!--</div>-->
                        <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Wrong date</div>-->
                    <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--<button type="submit" class="btn btn-primary">Save changes</button>-->
                <!--</div>-->
                <!--</form>-->
            <!--</div> &lt;!&ndash; /.modal-content &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
</body>
</html>

